table {
    border-collapse: collapse;
}
th, td {
    padding: 10px 20px 10px 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: x-small;
}
th {
    color: #1E459E;
    background-color: #b9fee1;
    border-top: 5px solid #01ff56;
}
td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 50%;
    color: #7274A5;
    background-color: #d4fdd0;
    border-top: 3px solid #ffffff;
}